body{
  background-color: #EAF2F6;
}

.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  @font-face {
    font-family: 'Lexend Deca', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
  }
}

a{
  color: #474747;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  z-index: 10;
}

.no-margin{
  margin: 0px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #FFFFFF;
  padding: 0px 50px 0px 50px;
  width: 80%;
}

.flexrow{
  display: flex;
  align-items:center;
  justify-content: center;
}

.contactbt{
  background: #6C40FF 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 5px 15px;
}

.blueshadow{
  box-shadow: 5px 8px 15px#050FFF29;
  border-radius: 0px 0px 20px 20px;
}

.my-stack-title{
  color: #474747;
  font-size: 25px;
  margin-top: 20px;
}
.my-stack-others{
  color: #474747;
  font-size: 20px;
  margin-top: 15px;
}

.other-stack{
  color: #243171;
  font-size: 15px;
}

.profile-container{
  margin-top: 100px;
  justify-content: center;
}

.card-body{
  height: 250px;
  min-width: 345px;
  width: 30vw;
  max-width: 360px;
  border-radius: 20px;
  padding: 0px;
}

.profile-bgcolor{
  background-color: #FFC498;
}

.softskills-bgcolor{
  background-color: #EEEDFF;
}

.softskills-titlebgcolor{
  background-color: #868FFF;
}

.profile-titlebgcolor{
  background-color: #FFA25D;
}

.card-title{
  border-radius: 20px 20px 0px 0px;
  margin: 0px auto;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 45px;
}

.stack-icons{
  max-height: 70px;
  border-radius: 20px;
  margin: 0px 15px;
}


.stack-icons-container{
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.caption{
  color: #474747;
  display: block;
}

.profile-text{
  margin: 0px;
  line-height: 40px;
}

.softskills-text{
  line-height: 35px;
}

.App-link {
  color: #474747;
  font-size: 21px;

}

.container{
  padding: 0px;
}

.col{
  margin: 0px auto;
  padding: 0px;
}
